body {
    background-color: lightgray;
    font-family: sans-serif;
}
main {
    background-color: whitesmoke;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}
img {
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: auto;  
}